# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
anyio=3.6.2=pypi_0
attrs=21.4.0=pypi_0
bzip2=1.0.8=he774522_0
ca-certificates=2023.01.10=haa95532_0
cachetools=5.3.0=pypi_0
certifi=2022.12.7=pypi_0
charset-normalizer=3.1.0=pypi_0
cirq=1.1.0=pypi_0
cirq-aqt=1.1.0=pypi_0
cirq-core=1.1.0=pypi_0
cirq-google=1.1.0=pypi_0
cirq-ionq=1.1.0=pypi_0
cirq-pasqal=1.1.0=pypi_0
cirq-rigetti=1.1.0=pypi_0
cirq-web=1.1.0=pypi_0
colorama=0.4.6=pypi_0
contourpy=1.0.7=pypi_0
cycler=0.11.0=pypi_0
decorator=5.1.1=pypi_0
duet=0.2.8=pypi_0
fonttools=4.39.3=pypi_0
google-api-core=1.34.0=pypi_0
google-auth=2.17.3=pypi_0
googleapis-common-protos=1.59.0=pypi_0
grpcio=1.54.0=pypi_0
grpcio-status=1.48.2=pypi_0
h11=0.14.0=pypi_0
httpcore=0.16.3=pypi_0
httpx=0.23.3=pypi_0
idna=3.4=pypi_0
iso8601=1.1.0=pypi_0
kiwisolver=1.4.4=pypi_0
lark=0.11.3=pypi_0
libffi=3.4.2=hd77b12b_6
matplotlib=3.7.1=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.5=pypi_0
networkx=2.8.8=pypi_0
numpy=1.23.5=pypi_0
openssl=1.1.1t=h2bbff1b_0
packaging=23.1=pypi_0
pandas=2.0.1=pypi_0
pillow=9.5.0=pypi_0
pip=23.1.1=pypi_0
proto-plus=1.22.2=pypi_0
protobuf=3.20.3=pypi_0
py=1.11.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pydantic=1.10.7=pypi_0
pyjwt=2.6.0=pypi_0
pyparsing=3.0.9=pypi_0
pyquil=3.5.0=pypi_0
python=3.10.11=h966fe2a_2
python-dateutil=2.8.2=pypi_0
python-rapidjson=1.10=pypi_0
pytz=2023.3=pypi_0
pyzmq=25.0.2=pypi_0
qcs-api-client=0.21.4=pypi_0
requests=2.28.2=pypi_0
retry=0.9.2=pypi_0
retrying=1.3.4=pypi_0
rfc3339=6.2=pypi_0
rfc3986=1.5.0=pypi_0
rpcq=3.11.0=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.21=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
scipy=1.10.1=pypi_0
setuptools=66.0.0=py310haa95532_0
six=1.16.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
sqlite=3.41.2=h2bbff1b_0
sympy=1.11.1=pypi_0
tk=8.6.12=h2bbff1b_0
toml=0.10.2=pypi_0
tqdm=4.65.0=pypi_0
types-python-dateutil=2.8.19.12=pypi_0
types-retry=0.9.9.3=pypi_0
typing-extensions=4.5.0=pypi_0
tzdata=2023.3=pypi_0
urllib3=1.26.15=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wheel=0.38.4=py310haa95532_0
xz=5.2.10=h8cc25b3_1
zlib=1.2.13=h8cc25b3_0
